section.block.features
  h2.features__title Theme features
  .features__row
    .features__item
      svg(role="img", class="features__img")
        use(xlink:href="#{path.img}sprite.symbol.svg#icon_f")
      h3.features__subTitle Foundation
      p.features__text
        span Amethyst is based on Foudation grid system. You can customize easliy with Foundation components.
        br
        a(href="http://foundation.zurb.com/sites.html", target="_blank") &gt;&gt; Foundation
    .features__item
      svg(role="img", class="features__img")
        use(xlink:href="#{path.img}sprite.symbol.svg#icon_sass")
      h3.features__subTitle Sass
      p.features__text If you want to build child theme, you can customize using included Sass files.
    .features__item
      svg(role="img", class="features__img")
        use(xlink:href="#{path.img}sprite.symbol.svg#icon_star")
      h3.features__subTitle Icon Fonts
      p.features__text
        span Amethyst includes Genericons and Font Awesome.
        br
        a(href="http://genericons.com/", target="_blank") &gt;&gt; Genericons
        br
        a(href="https://fortawesome.github.io/Font-Awesome/", target="_blank") &gt;&gt; Font Awesome
    .features__item
      svg(role="img", class="features__img")
        use(xlink:href="#{path.img}sprite.symbol.svg#icon_widget")
      h3.features__subTitle Widgets
      p.features__text Amethyst has two widgets: right sidebar and footer widget area.
    .features__item
      svg(role="img", class="features__img")
        use(xlink:href="#{path.img}sprite.symbol.svg#icon_layout")
      h3.features__subTitle Layouts
      p.features__text Flexible tow-columns. Default is single column. It contains single column page template.
    .features__item
      svg(role="img", class="features__img")
        use(xlink:href="#{path.img}sprite.symbol.svg#icon_brush")
      h3.features__subTitle Customizer
      p.features__text You can change text and background color, upload background image.
// / .features
