footer.l-footer
  section.footerInfo
    .footerInfo__inner
      .footerInfo__theme
        h2.footerInfo__title #{name}
        p.footerInfo__text Amethyst is a simple blog theme that cared to typography and readability for all devices. The design is kept simple, fully responsive and flexible tow-columns theme. Features are, two widgets, customizer, Foundation, Genericons, Sass, Gu9p use.
        include ../module/_gh-buttons
      .footerInfo__content
        .row
          .footerInfo__col.footerInfo__col--trouble
            h3.footerInfo__subTitle Have a trouble?
            p.footerInfo__text Ask a question or see all topics, issues.
            p.footerInfo__text
              a.icon-wp(href="https://wordpress.org/support/theme/amethyst" target="_blank") Visit support forum
              br
              a.icon-gh(href="#{url.gh}issues" target="_blank") View on GitHub
          .footerInfo__col.footerInfo__col--download
            h3.footerInfo__subTitle Download &amp; Preview
            p.footerInfo__text You can dowload from download page, or see theme preview.
            a.btnFooter(href="#{url.wp}" target="_blank") Download
          .footerInfo__col.footerInfo__col--author
            h3.footerInfo__subTitle #{name} by #{author}
            p.footerInfo__text I'm a web designer based in Tokyo and Saitama, Japan. I joined the web team for WordCamp Tokyo 2015 ( also 2014 ).
              br
              a(href="https://asknode.net/" target="_blank") https://asknode.net/
          .footerInfo__col.footerInfo__col--wordpress
            h3.footerInfo__subTitle WordPress.org
            blockquote.footerInfo__text.footerInfo__text--quote WordPress is web software you can use to create a beautiful website, blog, or app. We like to say that WordPress is both free and priceless at the same time.
              cite: a(href="https://wordpress.org/" target="_blank") - WordPress.org
  // / .footerInfo
  .copy
    .copy__inner
      p.copy__text &copy; 2016 #{author}

