.hero
  img(src="#{path.img}img_main.png", alt="")
  h2.hero__title #{name}
  p.hero__description #{page.top.description}
  a.btn.icon-wp.hero__button(href="#{url.wp}" target="_blank") Download
  a.btnHollow.icon-gh.hero__button(href="#{url.demo}" target="_blank") View demo
// / .hero
